

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 140px);
    grid-gap: 10px;
  }

.roster {
    grid-row-start: 4;
    border: 3px solid black;
    padding:10px;
  }

.enemy {
    grid-row-start: 1;
    border: 3px solid black;
    padding:10px;
}

.active {
    grid-row-start: 4;
    grid-column-start: 2;
    border: 3px solid black;
    padding:10px;
}

.health {
    grid-row-start: 4;
    grid-column-start: 3;
    padding:20px;
}

.opponent {
    grid-row-start: 2;
    grid-column-start: 2;
    border: 3px solid black;
    padding:10px;
}

.enemyHealth {
    grid-row-start: 2;
    grid-column-start: 3;
    padding:20px;
}

p {
    margin: 9px 0 0 15px;
  }

button {
    height: 70%;
    width: 70%;
    margin: 20px auto;
    grid-row-start: 3;
    grid-column-start: 2;
    padding:10px;
}

img {
    display: block;
    position: relative;
    width: 30%;
    float: right;
}