* {
    border-radius: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 140px);
    grid-gap: 10px;
  }

.roster {
    grid-row-start: 4;
    border: 3px solid black;
    padding:10px;
  }

.enemy {
    grid-row-start: 1;
    border: 3px solid black;
    padding:10px;
}

.active {
    grid-row-start: 4;
    grid-column-start: 2;
    border: 3px solid black;
    padding:10px;
}

.health {
    grid-row-start: 4;
    grid-column-start: 3;
    padding:20px;
    column-span: 2;
}

.opponent {
    grid-row-start: 2;
    grid-column-start: 2;
    border: 3px solid black;
    padding:10px;
}

.enemyHealth {
    grid-row-start: 2;
    grid-column-start: 3;
    column-span: 2;
    padding:10px;
}

p {
    margin: 9px 0 0 15px;
  }

p:nth-child(1) {
    font-weight: bold;
}

button {
    height: 70%;
    width: 70%;
    margin: 20px auto;
    grid-row-start: 3;
    grid-column-start: 2;
    padding:10px;
    font-weight: bold;
    font-size:1.2em;
    color: white;
    background-color: red;
    opacity: 0.7;
}

button:hover {
    opacity: 1;
}

img {
    height: 100%;
    margin:0 auto;
    border: 3px solid black;
}

.opponentImage {
    grid-row-start: 2;
    grid-column-start: 1;
}

.activeImage {
    grid-row-start: 4;
    grid-column-start: 1;
}

.card {
    background-color: 	#FFEBCD;
}

.message {
    grid-row: 2;
    grid-column: span 3;
}

h1 {
    text-align: center;
}

.starterImage {
    grid-row-start: 3;
    border: 3px solid black;
}